scopeName: 'source.eu4'
name: 'EU4'
fileTypes: [
  'gui', 'gfx'
]

patterns: [

  {
    comment: 'Comments'
    match: '#.*$'
    name: 'comment.eu4'
  }

  {
    comment: 'Strings'
    match: '(\"[^\"]*\")'
    name: 'string.eu4'
  }

  {
    comment: 'Flow Control'
    match: '\\b(if|limit|else|else_if|while|trigger_switch|random|random_list)\\b'
    name: 'keyword.control.eu4'
  }

  {
    comment: 'Booleans'
    match: '\\b(YES|NO|yes|no)\\b'
    name: 'variable.boolean.eu4'
  }

  {
    comment: 'Logic'
    match: '\\b(NOT|AND|OR|not|and|or)\\b'
    name: 'variable.logic.eu4'
  }

  {
    comment: 'Numbers'
    match: '(\\s\\-?[0-9]*\\.?[0-9]+[^\\w\\._])'
    name: 'constant.numeric.eu4'
  }

  {
    comment: 'Special Values'
    match: '\\b(ROOT|FROM|PREV|THIS)\\b'
    name: 'constant.special.eu4'
  }

  {
    comment: 'Controls'
    match: '\\b(country_event|country_decisions|province_event|major|fire_only_once|is_triggered_only|trigger|mean_time_to_happen|immediate|hidden_effect|option|modifier)\\b'
    name: 'support.function.control.eu4'
  }

  {
    comment: 'Effects'
    match: '\\b(set_global_flag|clr_global_flag|add_country_modifier|remove_country_modifier|set_country_flag|clr_country_flag|add_province_modifier|add_permanent_province_modifier|add_province_triggered_modifier|extend_province_modifier|remove_province_modifier|set_province_flag|clr_province_flag)\\b'
    name: 'support.function.effect.eu4'
  }

  {
    comment: 'Triggers'
    match: '\\b(owner|controller|emperor|has_global_flag|has_global_modifier_value|has_local_modifier_value|has_country_flag|has_country_modifier|has_province_flag|has_province_modifier)\\b'
    name: 'support.function.trigger.eu4'
  }

  {
    comment: 'Modifiers'
    match: '\\b(NULL)\\b'
    name: 'support.function.modifier.eu4'
  }

  {
    comment: 'Scopes'
    match: '\\b(NULL)\\b'
    name: 'support.function.scope.eu4'
  }

  {
    comment: 'Variables'
    match: '\\b(set_variable|change_variable|subtract_variable|multiply_variable|divide_variable|check_variable|is_variable_equal|export_to_variable)\\b'
    name: 'support.function.variable.eu4'
  }

  {
    comment: 'Country Tags'
    match: '\\b([A-Z][A-Z0-9][A-Z0-9])\\b'
    name: 'constant.tag.eu4'
  }
]
