scopeName: 'source.eu4'
name: 'EU4'
fileTypes: [
  'txt'
]

patterns: [

  {
    comment: 'Comments'
    match: '#.*$'
    name: 'comment.eu4'
  }

  {
    comment: 'Strings'
    match: '(\"[^\"]*\")'
    name: 'string.other.eu4'
  }

  {
    comment: 'Flow Control'
    match: '\\b(if|else_if|limit)\\b'
    name: 'keyword.control.eu4'
  }

  {
    comment: 'Booleans'
    match: '\\b(YES|NO|yes|no)\\b'
    name: 'variable.boolean.eu4'
  }

  {
    comment: 'Logic'
    match: '\\b(NOT|AND|OR|not|and|or)\\b'
    name: 'variable.logic.eu4'
  }

  {
    comment: 'Numbers'
    match: '(\\s\\-?[0-9]*\\.?[0-9]+[^\\w\\._])'
    name: 'constant.numeric.eu4'
  }

  {
    comment: 'Special Constants'
    match: '\\b(ROOT|FROM|root|from)\\b'
    name: 'constant.special.eu4'
  }

  {
    comment: 'Conditions'
    match: '\\b(null)\\b'
    name: 'support.function.condition.eu4'
  }

  {
    comment: 'Commands'
    match: '\\b(null)\\b'
    name: 'support.function.command.eu4'
  }

  {
    comment: 'Modifiers'
    match: '\\b(null)\\b'
    name: 'support.function.modifier.eu4'
  }

  {
    comment: 'Scopes'
    match: '\\b(all_unit_leader|any_unit_leader|all_army_leader|any_army_leader|all_navy_leader|any_navy_leader|random_unit_leader|every_unit_leader|random_army_leader|every_army_leader|random_navy_leader|every_navy_leader|global_every_army_leader|random_owned_controlled_state|OVERLORD|state_id|any_neighbor_country|TAG|any_country|any_other_country|any_enemy_country|all_neighbor_country|all_country|all_enemy_country|any_state|any_owned_state|any_neighbor_state|any_allied_country|all_state|every_owned_state|all_neighbor_state|all_allied_country|every_country|random_country|every_neighbor_country|random_neighbor_country|every_enemy_country|random_enemy_country|random_state|random_owned_state|random_neighbor_state|every_state|every_owned_state|every_neighbor_state|capital_scope)\\b'
    name: 'support.function.scope.eu4'
  }

  {
    comment: 'Event Controls'
    match: '\\b(trigger|mean_time_to_happen|option|id|title|desc|picture|immediate|name|fire_only_once|major|is_triggered_only|hidden|icon|text|prerequisite|mutually_exclusive|bypass|available|allowed|visible|complete_tooltip|completion_reward|days_remove|remove_effect|ai_will_do|complete_effect|modifier)\\b'
    name: 'support.function.event.eu4'
  }

  {
    comment: 'Country Tags'
    match: '\\b([A-Z][A-Z0-9][A-Z0-9])\\b'
    name: 'constant.tag.eu4'
  }
]
